<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Nouveau compte</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="js/script.js"></script>

<link rel="stylesheet" type="text/css" href="css/bootsrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="css/style.css"
	th:href="@{css/style.css}" />
</head>
  <body>
    <div class="container">
      <h1>Liste des Clients </h1>
      <br>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="client : ${clients}">
            <td th:text="client : ${client.code"></td>
            <td th:text="client : ${client.nom}"></td>
            <td th:text="client : ${client.email}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>