<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Comptes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootsrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="css/style.css"
	th:href="@{css/style.css}" />
</head>
<body>

	<header th:fragment="header" >
		<div class="navbar navbar-default" style="background-color:#005EB8;">
			<div class="navbar-header">
				<a class="navbar-brand" href="/index" style="color:black; font-weight: bold;"></a>
				
				<img src="https://th.bing.com/th/id/R.0bd29f5b6d88316466a247cc940290f3?rik=tsAyH3g3MnbktA&pid=ImgRaw&r=0" alt="Girl in a jacket" style="width:100px;height:100px;">

			</div>
			<ul class="nav navbar-nav">
				<br>
				<li><a href="/nouveau" style="color:white;">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤCompte</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<br>
				<li><a href="/index"  style="color:white;">Consuler un compte</a></li>
			</ul>
			
			<ul class="nav navbar-nav">
				<br>
				<li><a href="/logout"  style="color:white;">Logout</a></li>
			</ul>
		
			</ul>
		</div>
	</header>

	<div class="container">
		<p></p>
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary" style="border-color:#005EB8">
				<div class="panel-heading" style="background-color:#005EB8; border-color:#005EB8;">Créer un nouveau compte</div>
				<div class="panel-body">
					<form action="create" method="post">
						<div class="form-group">
							<label class="control-label">Code : </label> <input
								class="form-control" type="text" name="codeCompte">
						</div>
						<div class="form-group">
							<label class="control-label">Nom :</label> <input
								class="form-control" type="text" name="nom">
						</div>
						<div class="form-group">
							<label class="control-label">Email :</label> <input
								class="form-control" type="text" name="email">
						</div>
						<div class="form-group">
							<label class="control-label">Type de compte :</label> <select
								class="form-control" id="typeCompte" name="typeCompte">
								<option></option>
								<option value="compteCourant">Courant</option>
								<option value="compteEpargne">Epargne</option>
							</select>
						</div>
						<div class="form-group" id="decouvert">
							<label class="control-label">Découvert :</label> <input
								class="form-control" type="text" name="decouvert">
						</div>
						<div class="form-group" id="taux">
							<label class="control-label">Taux :</label> <input
								class="form-control" type="text" name="taux">
						</div>
						<div class="form-group">
							<label class="control-label">Solde Initial :</label> <input
								class="form-control" type="text" name="solde">
						</div>
						<div class="form-group pull-right">
							<br>
							
							<button class=" btn btn-primary " style="background-color:#005EB8; border-color:#005EB8;">Ajouter</button>
							&nbsp;&nbsp;
							<button class="btn btn-default" style="border-color:#005EB8;">
								<a th:href="@{/}" style="color:#005EB8;">Annuler</a>
							</button>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>