<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Comptes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootsrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="css/style.css"
	th:href="@{css/style.css}" />
</head>
<body>

	<header th:fragment="header" >
		<div class="navbar navbar-default" style="background-color:#005EB8;">
			<div class="navbar-header">
				<a class="navbar-brand" href="/index" style="color:black; font-weight: bold;"></a>
				<img src="https://th.bing.com/th/id/R.0bd29f5b6d88316466a247cc940290f3?rik=tsAyH3g3MnbktA&pid=ImgRaw&r=0" alt="Girl in a jacket" style="width:100px;height:100px;">

			</div>

			<ul class="nav navbar-nav">
				<br>
				<li><a href="/nouveau" style="color:white;">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤCompte</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<br>
				<li><a href="/index"  style="color:white;">Consuler un compte </a></li>
			</ul>
		
			</ul>
		</div>
	</header>
</body>
</html>