<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Comptes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootsrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="css/style.css"
	th:href="@{css/style.css}" />
</head>
<body>
	<header th:fragment="header" >
		<div class="navbar navbar-default" style="background-color:#EAAB1C;">
			<div class="navbar-header">
				<a class="navbar-brand" href="/" style="color:black; font-weight: bold;">ATTIJIAR BANK</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/nouveau" style="color:white;">Compte</a></li>
			</ul>
			
		</div>
	</header>
	<div class="container">

			<div class="col-md-6">
			<div class="panel panel-primary" style="border-color:#dc513e;">
				<div class="panel-heading" style="background-color:#dc513e; border-color:#dc513e;">Consuler un compte</div>
				<div class="panel-body">
					<form th:action="@{consulterCompte}" method="get">
						<label>Code du compte :</label> <input type="text"
							name="codeCompte" /> &nbsp;
						<button type="submit" class="btn btn-primary"  style="background-color:#dc513e; border-color:#dc513e;">Consulter</button>
					</form>
					<div class="text-danger" th:if="${exception}"
						th:text="${exception.message}"></div>
				</div>
			</div>
		
			<div class="panel panel-primary" th:if="${compte}"  style="border-color:#dc513e;" >
				<div class="panel-heading" style="background-color:#dc513e; border-color:#dc513e;">Informations sur le compte</div>
				<div class="panel-body">
					<div>
						<label>Code : </label> <label th:text="${compte.codeCompte}"></label>
					</div>
					<br>
					<div>
						<label>Type de compte : </label> <label
							th:text="${compte.class.simpleName}"></label>
					</div>
						<br>
					<div th:if="${compte.class.simpleName=='CompteCourant'}">
						<label>Découvert : </label> <label th:text="${compte.decouvert}"></label>
						<label>Dinar</label>
					</div>
						<br>
					<div th:if="${compte.class.simpleName=='CompteEpargne'}">
						<label>Taux : </label> <label th:text="${compte.taux}"></label>
					</div>
						<br>
					<div>
						<label>Solde : </label> <label th:text="${compte.solde}"></label> <label>Dinar</label>
					</div>
						<br>
					<div>
						<label>Date de création : </label> <label
							th:text="${compte.dateCreation}"></label>
					</div>
						<br>
					<div>
						<label>Proprétaire : </label> <label th:text="${compte.client.nom}"></label>
					</div>
						<br>
					<div>
						<label>E-mail : </label> <label th:text="${compte.client.email}"></label>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-md-6" >
			<div class="panel panel-primary" th:if="${compte}"  style="border-color:#dc513e;">
				<div class="panel-heading" style="background-color:#dc513e; border-color:#dc513e;">Effectuer une opération</div>
				<div class="panel-body">
					<form th:action="@{/saveOperation}" method="post">
						<div>
							<label>Compte : </label> <input type="hidden" name="codeCompte"
								th:value="${compte.codeCompte}" /> <label
								th:text="${compte.codeCompte}"></label>
						</div>
						<br>
						<div>
							<input type="radio" name="typeOperation" value="versement"
								checked="checked"
								onchange="document.getElementById('forVirement').style.display='none'" /> <label> 
								Versement   </label>&nbsp;&nbsp; &nbsp; &nbsp; <input type="radio" name="typeOperation"
								value="retrait"
								onchange="document.getElementById('forVirement').style.display='none'" />   <label>
								Retrait  </label> &nbsp; &nbsp; &nbsp; <input type="radio" name="typeOperation"
								value="virement"
								onchange="document.getElementById('forVirement').style.display='block'" /> <label>
								Virement</label>
						</div>
						<br>
						<div class="form-group">
							<label class="form-label">Montant (Dinar) : </label> 
							<input type="text" name="montant"  class="form-control"/>
						</div>
						<div class="form-group" id="forVirement" style="display: none">
							<label class="form-label">Vers : </label> <input type="text" name="codeCompte2"
								placeholder="compte destinataire" class="form-control" />
						</div>
						<div class="text-danger"
							th:text="${#httpServletRequest.getParameter('error')}"></div>
						<br>

						<button type="submit" class="btn btn-primary pull-right" style="background-color:#dc513e; border-color:#dc513e;">Enregistrer</button>
					</form>
				</div>
			</div>
			<div class="panel panel-primary" th:if="${compte}" style="border-color:#dc513e;">
				<div class="panel-heading" style="background-color:#dc513e; border-color:#dc513e;">Liste d'opération sur le compte</div>
				<div class="panel-body" >
					<table class="table table-hover" style="text-align:center;">
						<tr>
							<td>Numéro</td>
							<td>Type</td>
							<td>Montant</td>
							<td>Date</td>
						</tr>
						<tr th:each="op:${listOperations}">
							<td th:text="${op.numero}"></td>
							<td th:text="${op.class.simpleName}"></td>
							<td th:text="${op.montant}"></td>
							<td th:text="${op.dateOperation}"></td>
						</tr>
					</table>
					
				</div>
				<div class="container">
					
						</ul>
					</div><br> 	<br>	<br>
			</div>
		</div>
	</div>
</body>
</html>