<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Comptes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootsrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="css/style.css"
	th:href="@{css/style.css}" />
</head>
<body>

	<header th:fragment="header" >
		<div class="navbar navbar-default" style="background-color:#EAAB1C;">
			<div class="navbar-header">
				<a class="navbar-brand" href="/" style="color:black; font-weight: bold;">ATTIJIAR BANK</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/nouveau" style="color:white;">Compte</a></li>
			</ul>
		</div>
	</header>
</body>
</html>